.menuImg {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.menuTransform {
  position: fixed;
  top: 20px;
  left: 100px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}