.skills {
  max-width: 100%;
  height: 100%;
  background: rgb(8,2,38);
  background: linear-gradient(27deg, rgba(8,2,38,1) 0%, rgba(88,186,183,1) 100%, rgba(119,123,139,1) 100%, rgba(132,137,151,1) 100%, rgba(135,140,153,1) 100%, rgba(143,149,161,1) 100%, rgba(138,144,156,1) 100%, rgba(0,5,6,1) 100%);
}

.container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.card {
  width: 300px;
  height: 400px; 
  box-sizing: border-box;
  border-radius: 10px;
  background: rgb(8,2,38);
  background: linear-gradient(128deg, rgba(8,2,38,1) 0%, rgba(27,209,106,1) 0%, rgba(0,5,6,1) 100%, rgba(60,64,73,1) 100%, rgba(138,144,156,1) 100%, rgba(119,123,139,1) 100%, rgba(132,137,151,1) 100%, rgba(135,140,153,1) 100%, rgba(143,149,161,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  transition: all 600ms ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.title {
  text-transform: uppercase;
  color: #FEBE10;
  text-shadow: 27px 5px 31px rgba(80,16,16,0.6);
  
}

.items {
  width: 300px;
  margin: 10px;
}

.item {
  margin-left: 20px;
  font-size: 24px;
  text-transform: uppercase;
}



@media screen and (max-width:1200px) {
  .container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  
  .card {
    width: 80%;
    height: 400px; 
    display: flex;
    flex-direction: column;  
    transition: all 600ms ease-in-out;
  }
}

@media screen and (max-width:840px){
  .container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  
  .card {
    width: 70%;
    height: 300px; 
    display: flex;
    flex-direction: column;  
    transition: all 600ms ease-in-out;
  }

  .items {
    width: 90%;
    margin: 10px;
  }
}

@media screen and (max-width:768px) {
  .container {
    max-width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  
  .card {
    width: 60%;
    height: 300px; 
    display: flex;
    flex-direction: column;  
    transition: all 600ms ease-in-out;
  }

  .items {
    margin-top: 20px;
    width: 90%;
  }
}

@media screen and (max-width:376px) {
  .container {
    max-width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  
  .card {
    width: 80%;
    height: 400px; 
    display: flex;
    flex-direction: column;  
    transition: all 600ms ease-in-out;
  }

  .title {
    font-size: 54px;
    text-transform: uppercase;
    color: #FEBE10;
    text-shadow: 27px 5px 31px rgba(80,16,16,0.6);
    margin-bottom: 80px;
  }
    
  .item {
    margin-left: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }
}