.socials {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.telegram {
  filter: drop-shadow(0px 0px 10px #fff);
  filter: invert(100%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  transition: all 500ms;
}

.telegram:hover { 
  transform: scale(1.2);
  filter: invert(43%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

@media screen and (max-width:420px){
  .socials {
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
}