.home {
  background: rgb(8,2,38);
  background: linear-gradient(124deg, rgba(8,2,38,1) 0%, rgba(5,5,15,1) 18%, rgba(0,5,6,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}


.img {
  width: 300px;
  height: auto;
  margin-top: 100px;
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(0px 0px 25px #fff);  
}

.title {
  margin: 0;
  font-size: 54px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.job {
  margin: 0;
  margin-top: 10px;
  color: #fff;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 3px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.subTitle {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 2px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80px; 
  color: #fff;
  padding: 3px 10px;
  position: relative;
}

@media screen and (max-width:420px) {
  .title {
    margin: 0;
    font-size: 34px;
    line-height: 20px;
    letter-spacing: 5px;
  }

  .job {
    margin-top: 10px;
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 3px;
  }

  .subTitle {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    line-height: 10px;
  }
}

@media screen and (max-width:373px) {
  .title {
    margin: 0;
    font-size: 34px;
    line-height: 20px;
    letter-spacing: 5px;
  }

  .job {
    margin-top: 10px;
    color: #fff;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 3px;
  }

  .subTitle {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
  }
}