.contact {
  width: 100%;
  height: 100vh;
  background: rgb(8,2,38);
  background: radial-gradient(circle, rgba(8,2,38,1) 0%, rgba(184,65,29,1) 0%, rgba(143,149,161,1) 100%, rgba(0,5,6,1) 100%, rgba(60,64,73,1) 100%, rgba(138,144,156,1) 100%, rgba(119,123,139,1) 100%, rgba(132,137,151,1) 100%, rgba(135,140,153,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgb(8,2,38);
  background: linear-gradient(124deg, rgba(8,2,38,1) 0%, rgba(5,5,15,1) 18%, rgba(0,5,6,1) 100%);
  width: 400px;
  height: 300px;
  border-radius: 5px;
}

.item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  transition: all 500ms ease-in-out;
}

.item:hover {
  transform: scale(1.01);
}

.item > a {
  color: #fff;
  font-size: 28px;
  margin-left: 10px;
}