.navBlock {
  background-color: rgb(8,2,38);
  background: linear-gradient(124deg, rgba(8,2,38,1) 0%, rgba(5,5,15,1) 18%, rgba(0,5,6,1) 100%);
}

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100px;
  transition: all 500ms ease-in-out;
}

.navbarDisplay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 100px;
  height: 100vh;
  transition: all 500ms ease-in-out;
}

.items {
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.img {
  fill:#B5D3D3;
  width: 40px;
  height: auto;
  margin-bottom: 5px;
  transition: all 300ms ease-in-out;
}

.img:hover {
  filter: invert(43%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
}

.item:hover {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  transform: scale(1.1);
  filter: invert(43%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  cursor: pointer;
}